<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <title>usuarios add</title>
</head>
<body>
<h2 class="text-center">adicionar usuario</h2>
<div class="container" align="center">

    <form style="width:400px" th:action="@{/usuarios/add}" th:object="${usuario}" method="post">
        <div class="mb-3">
            <label for="nomeId" class="form-label" align="right">Nome</label>
            <input type="text" class="form-control" id="nomeId" th:field="*{nome}">
        </div>
        <div class="mb-3">
            <label for="estadoCivilId" class="form-label">Estado Civil</label>
            <input type="text" class="form-control" id="estadoCivilId" th:field="*{estadoCivil}">
        </div>
        <div class="mb-3">
            <label for="dataDeNascimentoId" class="form-label">Nascimento</label>
            <input type="date" class="form-control" id="dataDeNascimentoId" th:field="*{dataDeNascimento}">
        </div>

        <div class="row">
            <div class="col-sm">
                <a href="/usuarios/" class="btn btn-warning" style="...">cancelar</a>
            </div>

            <div class="col-sm">
                <input type="submit" class="btn btn-primary" style="..." value="Adicionar"/>
            </div>
        </div>


    </form>
</div>
</body>
</html>